
        <!-- ==================== Start about ==================== -->

        <div class="about section-padding" id="Apropos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="img">
                        <img class="thumparallax-down" src="{{asset('assets/img/min-area.jpg')}}" alt="">
                    </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 valign">
                        <div class="content">
                            <div class="sub-title">
                                <h6> A Propos </h6>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <h3 class="main-title wow" data-splitting> Nous sommes plus <br> qu'une agence digitale. </h3>
                            <p class="wow txt" data-splitting>We are AVO. We create award-winning websites, remarkable
                                brands and cutting-edge
                                apps.Nullam
                                imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, id gravida mi purus sit
                                amet
                                erat. Ut dictum nisi masvitp</p>
                            <div class="ftbox mt-30">
                                <ul>
                                    <li class="wow fadeIn" data-wow-delay=".3s">
                                        <span class="icon pe-7s-gleam"></span>
                                        <h6 class="custom-font"> Qui Sommes Nous </h6>
                                        <div class="dots">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </li>
                                    <li class="space wow fadeIn" data-wow-delay=".5s">
                                        <span class="icon pe-7s-paint-bucket"></span>
                                        <h6 class="custom-font"> Notre Mission </h6>
                                        <div class="dots">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </li>
                                    <li class="wow fadeIn" data-wow-delay=".8s">
                                        <span class="icon pe-7s-medal"></span>
                                        <h6 class="custom-font"> Nos Valeurs </h6>
                                        <div class="dots">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ==================== End about ==================== -->