    <!-- ==================== Start Blog ==================== -->

    <section class="blog-grid section-padding" id="Blog">
        <div class="container">
            <div class="sec-head custom-font text-center">
                <h6 class="fadeIn" data-wow-delay=".5s">Latest News</h6>
                <h3 class="wow" data-splitting>Our Blogs.</h3>
                <span class="tbg">Blogs</span>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="item list md-mb50 wow fadeInUp" data-wow-delay=".3s">
                        <div class="img">
                            <img src="{{asset('assets/img/blog/1.jpg')}}" alt="">
                        </div>
                        <div class="cont">
                            <a href="#0" class="date custom-font">
                                <span><i>06</i> August</span>
                            </a>
                            <div class="info custom-font">
                                <a href="#0" class="author">
                                    <span>by / Admin</span>
                                </a>
                                <a href="#0" class="tag">
                                    <span>WordPress</span>
                                </a>
                            </div>
                            <h6>
                                <a href="#0">The Start-Up Ultimate Guide to Make Your WordPress
                                    Journal.</a>
                            </h6>
                            <div class="btn-more custom-font">
                                <a href="#0" class="simple-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item list md-mb50 wow fadeInUp" data-wow-delay=".5s">
                        <div class="img">
                            <img src="{{asset('assets/img/blog/2.jpg')}}" alt="">
                        </div>
                        <div class="cont">
                            <a href="#0" class="date custom-font">
                                <span><i>06</i> August</span>
                            </a>
                            <div class="info custom-font">
                                <a href="#0" class="author">
                                    <span>by / Admin</span>
                                </a>
                                <a href="#0" class="tag">
                                    <span>WordPress</span>
                                </a>
                            </div>
                            <h6>
                                <a href="#0">The Start-Up Ultimate Guide to Make Your WordPress
                                    Journal.</a>
                            </h6>
                            <div class="btn-more custom-font">
                                <a href="#0" class="simple-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item list wow fadeInUp" data-wow-delay=".8s">
                        <div class="img">
                            <img src="{{asset('assets/img/blog/3.jpg')}}" alt="">
                        </div>
                        <div class="cont">
                            <a href="#0" class="date custom-font">
                                <span><i>06</i> August</span>
                            </a>
                            <div class="info custom-font">
                                <a href="#0" class="author">
                                    <span>by / Admin</span>
                                </a>
                                <a href="#0" class="tag">
                                    <span>WordPress</span>
                                </a>
                            </div>
                            <h6>
                                <a href="#0">The Start-Up Ultimate Guide to Make Your WordPress
                                    Journal.</a>
                            </h6>
                            <div class="btn-more custom-font">
                                <a href="#0" class="simple-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Blog ==================== -->