        <!-- ==================== Start call-to-action ==================== -->

        <section class="call-action section-padding sub-bg bg-img" data-background="{{asset('assets/img/pattern.png')}}">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-9">
                        <div class="content sm-mb30">
                            <h6 class="wow" data-splitting>Let’s Talk</h6>
                            <h2 class="wow custom-font" data-splitting>about your <b>next project</b>.</h2>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-3 valign">
                        <a href="contact.html" class="btn-curve btn-lit wow fadeInUp" data-wow-delay=".5s"><span>Get In
                                Touch</span></a>
                    </div>

                </div>
            </div>
        </section>

        <!-- ==================== End call-to-action ==================== -->