<!-- ==================== Start Contact Form ==================== -->

    <section class="contact-sec section-padding">
        <div class="container">
            <div class="sec-head custom-font text-center">
                <h6 class="wow fadeIn" data-wow-delay=".5s">Get In Touch</h6>
                <h3 class="wow" data-splitting>Contact Us.</h3>
                <span class="tbg">Contact</span>
            </div>
            <div class="row justify-content-center wow fadeInUp" data-wow-delay=".5s">
                <div class="col-lg-10">
                    <div class="form">
                        <form id="contact-form" method="post" action="contact.php">

                            <div class="messages"></div>

                            <div class="controls">

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input id="form_name" type="text" name="name" placeholder="Name"
                                                required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input id="form_email" type="email" name="email" placeholder="Email"
                                                required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input id="form_name" type="text" name="name" placeholder="Name"
                                                required="required">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea id="form_message" name="message" placeholder="Message" rows="4"
                                                required="required"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="text-center">
                                            <button type="submit"
                                                class="simple-btn custom-font cursor-pointer"><span>Send
                                                    Message</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Contact Form ==================== -->