 <!-- ==================== Start Services ==================== -->

        <section class="services">
            <div class="container">
                <div class="sec-head custom-font text-center">
                    <h6 class="wow fadeIn" data-wow-delay=".5s">Best Features</h6>
                    <h3 class="wow" data-splitting>Services.</h3>
                    <span class="tbg">Services</span>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 item-box bg-img wow fadeInLeft" data-wow-delay=".3s"
                        data-background="{{asset('assets/img/1.jpg')}}">
                        <h4 class="custom-font">Best Of <br> Our Features</h4>
                        <a href="about.html" class="btn-curve btn-bord btn-lit mt-40"><span>See All Services</span></a>
                    </div>
                    <div class="col-lg-3 col-md-6 item-box wow fadeInLeft" data-wow-delay=".5s">
                        <span class="icon pe-7s-paint-bucket"></span>
                        <h6>Graphic Design</h6>
                        <p>Tempore corrupti temporibus fuga earum asperiores fugit laudantium.</p>
                    </div>
                    <div class="col-lg-3 col-md-6 item-box wow fadeInLeft" data-wow-delay=".7s">
                        <span class="icon pe-7s-phone"></span>
                        <h6>Web & <br> Mobile Design</h6>
                        <p>Tempore corrupti temporibus fuga earum asperiores fugit.</p>
                    </div>
                    <div class="col-lg-3 col-md-6 item-box wow fadeInLeft" data-wow-delay=".9s">
                        <span class="icon pe-7s-display1"></span>
                        <h6>Social <br> media Marketing</h6>
                        <p>Tempore corrupti temporibus fuga earum asperiores fugit.</p>
                    </div>
                </div>
            </div>
            <div class="half-bg bottom"></div>
        </section>

        <!-- ==================== End Services ==================== -->

